.about-us {
    background: url('@img/about-us_page/bg.jpg') center / cover no-repeat;
    @include adaptiveValue("padding-top", 152, 100);
    @include adaptiveValue("padding-bottom", 85, 30);
    &__container {
        display: flex;
        flex-direction: column;   
    }
    // .services-inner__title

    &__title {
        margin-bottom: em(24, 72);
    }

    // .services-inner__descr

    &__descr {
        color: $textOpacity;
        text-align: center;
        @include adaptiveValue("font-size", 20, 14);
        font-weight: 400;
        line-height: 150%; /* 30px */
        max-width: rem(810);
        margin-bottom: em(125, 20);
        margin-left: auto;
        margin-right: auto;
    }
}
.advantages-about {
    display: flex;
    justify-content: space-between;
    @media (max-width: $mobile) {
        flex-direction: column; 
        @include adaptiveValue("row-gap", 20, 10); 
    }

    &__item {
        display: flex;
        gap: rem(20);
        align-items: center;
        position: relative;
        &:not(:last-child) {
            @include adaptiveValue("padding-right", 94, -130);
            border-right: 1px solid rgba(218, 219, 221, 0.50);
            border-image: linear-gradient(0deg, rgba(218, 219, 221, 0.40) 2%,
                                             rgba(218, 219, 221, 0.50) 12.33%,
                             #DADBDD 51.91%, rgba(218, 219, 221, 0.50) 78.85%,
                                                 rgba(218, 219, 221, 0.40) 100%);
            border-image-slice: 1;
            @media (max-width: $tablet) {
                border: none;
            }
        }
    }
    // .advantages-main__icon

    &__icon {
        width: 2.5rem;
        height: 2.5rem;
        svg {
            width: 2.5rem;
            height: 2.5rem; 
        }
    }
    // .advantages-main__text

    &__text {
        color: #fff;
        font-size: 20px;
        @include adaptiveValue("font-size", 20, 16);
        font-weight: 700;
        line-height: 150%; /* 30px */
    }
}

.breadcrumbs {
    white-space: nowrap;
    margin-left: auto;
    margin-right: auto;
    

    // .breadcrumbs__item

    &__item {
    }

    // .breadcrumbs__link

    &__link {
        
        color: #FFF;
        
    }
    
}
//================================================================================ 
.facts-about {
   padding-top: rem(40); 
}
.video-block {
    @include adaptiveValue("padding-top", 35, 0);
    @include adaptiveValue("padding-bottom", 90, 20);
    position: relative;
		&::before {
			content:'';
			position: absolute;
			left: 0;
			top: -6.75rem;
			width: 11.3125rem;
			height: 21.3125rem;
			flex-shrink: 0;
			background-image: url('@img/about-us_page/page-bg/L1.png');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -1;
			@media (max-width: rem(1630)) {
				left: calc((40% - 655px)/ 1);
			}
		}
        &::after {
			content:'';
			position: absolute;
			right: 0;
            bottom: -23.625rem;
            width: 39.375rem;
            height: 51.5625rem;
			flex-shrink: 0;
			background-image: url('@img/about-us_page/page-bg/r1.png');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -1;
			@media (max-width: rem(1830)){
				right: calc((40% - 735px)/ 1);
			}
		}

    &__container {
    }

    &__body {
        position: relative;
        overflow: hidden;
        border-radius: 0.25rem;
        border-radius: rem(4);
        height: rem(500);
        &::before{
            content: "";
            position: absolute;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            z-index: 2;
            background-color: color(a98-rgb 0.15 0.15 0.19 / .6);
            transition: opacity .3s ease-in-out,visibility .3s ease-in-out;   
        }
    }

    &__play {
        display: flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        left: 50%;
        top: 50%;
        z-index: 2;
        border-radius: 100%;
        width: 5rem;
        height: 5rem;
        transform: translate(-50%,-50%);
        transition: background-color .3s ease-in-out,opacity .3s ease-in-out,visibility .3s ease-in-out;
        svg {
            height: rem(80);
            width: rem(80);
        }
    }

    // .video-block__content

    &__content {
        //max-width: 100%;
        border-radius: rem(4);
        display: block;
        width: 100%;
        height: 100%;
        object-fit: cover;
    }
    .video-block--played::before {
        opacity: 0;
        visibility: hidden;
    }
    .video-block__play--played {
        opacity: 0;
        visibility: hidden;
    }
}
//======= items ===================================================================================================== 

.core-values {
    @include adaptiveValue("padding-top", 90, 20);
    @include adaptiveValue("padding-bottom", 90, 20);
    // .core-values__container

    &__container {
        display: grid;
        grid-template-columns: 2fr 66%;
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column; 
        }
    }

    // .core-values__title

    &__title {
        @include adaptiveValue("padding-right", 80, -40);
        @media (max-width: $mobile) {
            padding-right: rem(15);
        }
    }

    // .core-values__items

    &__items {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        row-gap: rem(48);
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;
            row-gap: rem(38);
        }
    }

    // .core-values__item

    &__item {
    }
}
.item-core {
    @include adaptiveValue("padding-right", 80, 0);
    @media (max-width: $mobile) {
        padding-right: rem(15);
    }
    // .item-core__icon

    &__icon {
        width: rem(48);
        height: rem(48);
        margin-bottom: rem(24);
    }

    // .item-core__title

    &__title {
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 150%; /* 30px */
    }

    // .item-core__descr

    &__descr {
        color: #787A80;
        line-height: 160%; /* 25.6px */
    }
}

//=======  seo-agency ============================================================================================

.seo-agency {
    @include adaptiveValue("padding-top", 90, 30);
    @include adaptiveValue("padding-bottom", 90, 120);
    position: relative;
		&::before {
			content:'';
			position: absolute;
			left: 0;
			top: -20rem;
			width: 33.8125rem;
			height: 58.875rem;
			flex-shrink: 0;
			background-image: url('@img/about-us_page/page-bg/L2.png');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -1;
			@media (max-width: rem(1630)) {
				left: calc((40% - 655px)/ 1);
			}
		}
        &::after {
			content:'';
			position: absolute;
            right: 7.0625rem;
            bottom: 5.375rem;
            width: 21.125rem;
            height: 17.625rem;
			flex-shrink: 0;
			background-image: url('@img/about-us_page/page-bg/r2.png');
			background-position: center;
			background-size: cover;
			background-repeat: no-repeat;
			z-index: -1;
			@media (max-width: rem(1830)){
				right: calc((40% - 735px)/ 1);
			}
		}

    &__container {
        position: relative;
        display: grid;
        grid-template-columns: repeat(11, 1fr);
        gap: rem(30);
        @include adaptiveValue("gap", 30, 3);
    }
    &__left-wrapper {
        display: flex;
        flex-direction: column;
        @include adaptiveValue("padding-top", 75, 30);
        @include adaptiveValue("row-gap", 30, 3);
        grid-column: 1 / 4;
    }
    .center {
        grid-column: 4 / 8;
    }
    .right {
        padding-top: rem(175);
        @include adaptiveValue("padding-top", 175, 60);
        grid-column: 8 / 12;
    }

    // .seo-agency__item

    &__item {
        img {
            width: 100%;
            object-fit: cover;
        }
    }
}
.item-seo {
    position: absolute;
    @include adaptiveValue("bottom", -85, -125);
    left: 50%;
    transform: translateX(-50%);
    width: rem(805);
    @include adaptiveValue("padding-left", 60, 15);
    @include adaptiveValue("padding-right", 60, 15);
    @include adaptiveValue("padding-top", 48, 15);
    @include adaptiveValue("padding-bottom", 48, 15);
    border-radius: 0.25rem;
    background: var(--white, #FFF);
    box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);
    @media (max-width: $tablet) {
        width: 80%;
    }
    @media (max-width:$mobileSmall){
        width: 90%;
        text-align: center; 
    }

    &__title {
        @include adaptiveValue("font-size", 20, 14);
    }

    // .item-seo__descr

    &__descr {
        color: #787A80;
        @include adaptiveValue("font-size", 16, 10);
        line-height: math.div( 25.6, 16);
    }
}

//====== proud  ================================================================
.proud {
    @include adaptiveValue("padding-top", 120, 40);
    @include adaptiveValue("padding-bottom", 120, 30);
    // .proud__container

    &__container {
        display: flex;
        @include adaptiveValue("gap", 135, -135);
        @media (max-width: $tablet) {
            flex-direction: column;
            align-items: center;
        }
    }

    // .proud__image

    &__image {
        img {
            //width: 100%;
            object-fit: cover;
        }
    }

    // .proud__body

    &__body {
        @include adaptiveValue("padding-top", 85, 20);
    }

    // .proud__title

    &__title {
        @media (max-width: $tablet) {
            text-align: center;
        }
    }
}

//=======  satisfied-partners  ============================================================================= 

.satisfied-partners {
    @include adaptiveValue("padding-top", 60, 20);
    @include adaptiveValue("padding-bottom", 90, 30);
    // .satisfied-partners__container

    &__container {
        
    }

    // .satisfied-partners__title

    &__title {
        text-align: center;
    }

    // .satisfied-partners__list1

    &__list1,
    &__list2 {
        display: grid;
        grid-template-columns: repeat(6, 1fr);
        justify-items: stretch;
        @include adaptiveValue("gap", 100, -100);
        @media (max-width: $tablet){
            grid-template-columns: repeat(3, 1fr);  
            justify-items: center; 
            @include adaptiveValue("gap", 41, 20);
        }
        @media (max-width: $mobile) {
            grid-template-columns: repeat(2, 1fr); 
        }
    }

    &__list1 {
        margin-bottom: rem(30);
    }

    
}

.partners {

    // .partners__item

    &__item {
        display: flex;
        align-items: center;
    }

    // .partners__link

    &__link {
        img {
            width: rem(120);
            height: rem(64);
        }
    }
}

//=========  team-our-slider  =============================================================================

.team-our {
    @include adaptiveValue("padding-top", 90, 20);
    @include adaptiveValue("padding-bottom", 90, 20);
    position: relative;
    &::before {
        content:'';
        position: absolute;
        left: 0;
        bottom: rem(-140);
        width: 14.25rem;
        height: 18.6875rem;
        flex-shrink: 0;
        background-image: url('@img/about-us_page/page-bg/L3.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        @media (max-width: rem(1630)) {
            left: calc((40% - 655px)/ 1);
        }
    }
    &::after {
        content:'';
        position: absolute;
        right: 0;
        bottom: 30rem;
        width: 35.1875rem;
        height: 74.5rem;
        flex-shrink: 0;
        background-image: url('@img/about-us_page/page-bg/r3.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: -1;
        @media (max-width: rem(1830)){
            right: calc((40% - 735px)/ 1);
        }
    }
    &__container {
        position: relative;
        .team-our__prev,
        .team-our__next {
            position: absolute;
            cursor: pointer;
            
            &::before {
                font-family: 'icomoon' !important;
                font-size: rem(40);
                z-index: 3;
                position: relative;
                color: $textOpacity;
                transition: color .3s ease 0s;
            }
            &::after{
                position: absolute;
                left: 0.3125rem;
                content:'';
                height: rem(150);
                width: rem(30);
                background: #ffffff09;
                top: 50%;
                transform: translateY(-50%);
                border-radius: rem(4);
                transition: background .3s ease 0s;
            }
        }
        .team-our__prev,
        .team-our__next {
            left: 0.9375rem;
            top: 35%;
            transform: translateY(50%) rotate(-180deg);
            z-index: 2;
            @media (any-hover: hover){
                &:hover {
                    &::after {
                        background: #ffffff9c;
                    }
                }
            }
            @media (any-hover: hover){
                &:hover {
                    &::before {
                        color: $mainColor;
                        
                    }
                }
            }
            @media (min-width: rem(600)){
                top: 40%;
            }
            @media (min-width: rem(1080)) {
                display: none;  
            }  
        }
        .team-our__next {
            left: auto;
            right: 0.9375rem;
            top: 35%;
            transform: translateY(50%);
            @media (min-width: rem(600)){
                top: 40%;
            }
            @media (min-width: rem(1080)) {
                display: none;  
            } 
        }
        
        
    }
    &__title {
        text-align: center;
    }
    &__slider {
        margin: 0 auto; 
        min-width: 0;
        position: relative;
        .swiper-pagination-bullets {
            position: absolute;
            right: 50%;
            transform: translateX(50%);
            bottom: rem(10);
            display: flex;
            justify-content: center;
            gap: rem(5);
            .swiper-pagination-bullet {
                cursor: pointer;
                width: rem(10);
                height: rem(10);
                border-radius: 50%;
                border: 1px solid $primary;
            }
            .swiper-pagination-bullet-active {
                background: $primary;
            }
            @media (min-width: rem(1080)) {
                display: none;
                visibility: hidden;
            }

        }
    }

    // .team-our__wrapper

    &__wrapper {
        row-gap: rem(60);
        position: relative;
        box-sizing: content-box;
        width: 100%;
        padding-bottom: 3.125rem;
        @media (min-width: rem(1080)){
            column-gap: rem(30);
            display: grid !important;
            grid-template-columns: repeat(4, 1fr);
        }
        
    }
}

.slide-team-our {
    
    
    @media (min-width: rem(1080)) {
        max-width: rem(285); 
        flex-shrink: 0;
    }

    // .slide-team-our__body

    &__body {
    }

    // .slide-team-our__image

    &__image {
        position: relative;
        margin-bottom: rem(16);
        border-radius: 0.25rem;
        img {
            width: 100% ;
            overflow: hidden;
            justify-content: center;
            display: flex;
        }
    }
    &__gradient {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        padding: rem(20);
        transition: opacity .3s ease-in-out 0s;
        border-radius: 0.25rem;
        background: linear-gradient(180deg, rgba(30, 33, 44, 0.00) 43.90%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.77) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
        opacity: 0;
        @media (any-hover: hover){
            &:hover {
                opacity: 1;
            }
        }
    }
    &__link {
        display: flex;
        gap: rem(12);
        &:not(:last-child) {
            margin-right: rem(12);
        }
        &::before {
            transition: color .3s ease-in-out 0s;
            font-size: rem(20);
            color: #ffffff99;
            
            
        }
        @media (any-hover: hover){
            &:hover{
                &::before{
                    color: #fff;
                    
                }
                
            }
        }
    }

    // .slide-team-our__name

    &__name {
        color: #424551;
        text-align: center;
        font-size: 1.25rem;
        font-weight: 700;
        line-height: 150%; /* 30px */
        margin-bottom: rem(4);
    }

    // .slide-team-our__plase

    &__plase {
        color: #787A80;
        text-align: center;
        line-height: 160%; /* 25.6px */
    }
}

//================  careers-at    ============================================================== 

.careers-at {
    background: #F4F5F6;
    position: relative;
    &::after {
        content:'';
        position: absolute;
        right: 0;
        bottom: 0;
        width: 16.1875rem;
        height: 29.875rem;
        flex-shrink: 0;
        background-image: url('@img/about-us_page/page-bg/r4.png');
        background-position: center;
        background-size: cover;
        background-repeat: no-repeat;
        z-index: 0;
        @media (max-width: rem(1830)){
            right: calc((40% - 735px)/ 1);
        }
    }

    &__container {
        @include adaptiveValue("padding-top", 60, 20);
        @include adaptiveValue("padding-bottom", 60, 20);
        display: flex;
        @include adaptiveValue("column-gap", 192, -20);
        @media (max-width:$mobile){
            flex-direction: column; 
            align-items: center;
            gap: rem(40);
        }
    }

    // .careers-at__image

    &__image {
        max-width: rem(450);
        display: flex;
        align-items: center;
        
        @media (max-width: $tablet) {
            img {
                width: 100%;
            }
        }
        
    }

    // .careers-at__info

    &__info {
        display: flex;
        flex-direction: column;
        align-items: flex-start;

    }

    // .careers-at__title

    &__title {
        &:not(:last-child) {
            margin-bottom: em(40, 46);
        }
    }

    // .careers-at__descr

    &__descr {
        color: #424551;
        @include adaptiveValue("font-size", 20, 16);
        line-height: 150%; /* 30px */
        margin-bottom: em(60, 20);
    }

    // .careers-at__btn

    &__btn {
        display: flex;
        flex-direction: row-reverse;
        white-space: nowrap;
        gap: rem(8);
        font-family: $fontFamily !important;
        align-items: center;
        line-height: 52px; /* 325% */
        letter-spacing: 0.5px;
        padding: 0 2rem;

        &::before{
            font-family: 'icomoon' !important;
            color: #fff;
        }
    }
}















































































.form-case-studies {

    &__button {
        white-space: nowrap;
        border-radius: 0 0.25rem 0.25rem 0;
        @media (max-width: $mobile) {
            border-radius: 0.25rem;
        }
        @media (max-width: $mobileSmall) {
            width: 100%; 
        }
    }
    .form__input {
        width: rem(445);
        border-radius: 0.25rem 0 0 0.25rem;
        border-right: none;
        &._form-focus {
            border-radius: 0.25rem 0 0 0.25rem;
            border: 1px solid rgba(255, 255, 255, 0.20);
            background: rgba(255, 255, 255, 0.12);
        }
        @media (max-width: $mobile) {
            border-radius: 0.25rem;
        }
        @media (max-width: $mobileSmall) {
            width: 100%; 
        }
    }
    .form__row {
        position: relative;
        display: flex;
        @media (max-width: $mobile) {
            flex-direction: column;
            row-gap: rem(8);
        }
    }
    .form__error {
        color: #FF4242; 
        position: absolute;
        bottom: rem(-20);
        left: 0;
    }
}

//==================================================================================== 

.case-studies-cases {
    @include adaptiveValue("padding-top", 100, 30);
    @include adaptiveValue("padding-bottom", 100, 30);
    // .case-studies-cases__container

    &__container {
    }

    // .case-studies-cases__tabs

    &__link {
        display: flex;
        justify-content: center;
        flex-direction: row-reverse;
        align-items: center;
        gap: rem(16);
        transition: all .3s ease 0s;
        svg {
            height: rem(24);
            width: rem(24); 
        }
        span {
            color: #424551;
            font-weight: 700;
            line-height: 160%; /* 25.6px */
            @media (any-hover: hover){
                &:hover{
                    color: #504AED;
                }
            }
        }
        @media (any-hover: hover){
            &:hover{
                color: #504AED;
            }
        }
        
    }

    // .case-studies-cases__navigation

    &__navigation {
        justify-content: space-between;
        display: grid;
        grid-template-columns: repeat(6, 1fr);
    }

    // .case-studies-cases__title

    &__title {
        white-space: nowrap;
        padding: 0.625rem 0.9375rem;
        border: none;
        color: #9A9CA5;
        text-align: center;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        transition: all .3s ease 0s;
        &._tab-active {
            border: 0.0625rem solid $primary;
            color: $primary !important;
            border-radius: 0.25rem;
        }
        @media (any-hover: hover){
            &:hover{
                color: $textGray;
            }
        }
        @media (max-width: $mobile) {
            display: flex;
            flex-direction: column;
            margin-left: auto;
            margin-right: auto;
            &:not(:last-child) {
                margin-bottom: rem(20);
                width: 100%;
                align-items: center;
            } 
        }
    }
}
 

.all-cases-tab {
    // .all-cases-tab__header
    &__items {
        @include adaptiveValue("padding-top", 60, 20);
        @include adaptiveValue("padding-bottom", 60, 20);
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        //column-gap: rem(30);
        @include adaptiveValue("column-gap", 30, -10);
        row-gap: rem(48);
        height: auto;
        @media (max-width: $mobile) {
            grid-template-columns: 1fr;  
        }
    }

    &__item {
        border-radius: 4px;
        border: 1px solid #E5E8ED;
        background: #FFF;
        box-shadow: 0px 4px 4px -4px rgba(30, 33, 44, 0.03), 0px 12px 10px -6px rgba(154, 156, 165, 0.04), 0px 30px 24px -10px rgba(154, 156, 165, 0.05), 0px 80px 80px -20px rgba(154, 156, 165, 0.08);

    }
    

    &__header {
        padding: rem(30) rem(0) rem(80) rem(40);
        background-image: linear-gradient(rgb(31 33 43 / 61%),rgb(31 33 43 / 61%)), url('@img/case-studies_page/tabs/01.png') ;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        z-index: 0;
        position: relative;
        border-radius: 4px 4px 0 0;
    }

    // .all-cases-tab__body

    &__body {
        padding: rem(24) rem(40);
        display: flex;
        gap: rem(32);
        @include adaptiveValue("padding-left", 40, 10);
        @include adaptiveValue("padding-right", 40, 15);
    }

    // .all-cases-tab__footer

    &__footer {
        
    }
}
.body-tab {

    .two {
        display: none;
    }
    border-bottom: 0.0625rem solid rgba(218, 219, 221, 0.5);
    width: 100%;
    border-image: linear-gradient(285deg, rgba(218, 219, 221, 0) 0%, rgba(218, 219, 221, 0.5) 12.33%, #DADBDD 51.91%, rgba(218, 219, 221, 0.5) 87.85%, rgba(218, 219, 221, 0) 100%);
    border-image-slice: 1;
    &.all-cases-tab__body {
        @include adaptiveValue("column-gap", 32, 0);
    }
}
.header-tab {
    &--two {
        background-image: linear-gradient(rgb(31 33 43 / 61%),rgb(31 33 43 / 61%)), url('@img/case-studies_page/tabs/02.png'); 
    }
    &--tree {
        background-image: linear-gradient(rgb(31 33 43 / 61%),rgb(31 33 43 / 61%)), url('@img/case-studies_page/tabs/03.png');
    }
    &--four {
        background-image: linear-gradient(rgb(31 33 43 / 61%),rgb(31 33 43 / 61%)), url('@img/case-studies_page/tabs/04.png');
    }
    &--five {
        background-image: linear-gradient(rgb(31 33 43 / 61%),rgb(31 33 43 / 61%)), url('@img/case-studies_page/tabs/05.png'); 
    }
    &--six {
        background-image: linear-gradient(rgb(31 33 43 / 61%),rgb(31 33 43 / 61%)), url('@img/case-studies_page/tabs/06.png');
    }
    

    &__logo {
        position: relative;
        width: rem(120);
        height: rem(80);
        z-index: 31;
        img {
            width: 100%;
            height: 100%;
        }
    }

    // .header-tab__title

    &__title {
        color: #FFF;
        font-size: 14px;
        line-height: 150%; /* 21px */
        position: relative;
        z-index: 3;
    }
}





.footer-tab {
    padding: rem(20) rem(40) rem(28);
    // .footer-tab__descr

    &__descr {
        color: #787A80;
        line-height: 160%; /* 25.6px */
        &:not(:last-child) {
            padding-bottom: em(20, 16);
        }
    }

    // .footer-tab__link

    &__link {
        display: flex;
        flex-direction: row-reverse;
        justify-content: flex-end;
        font-family: $fontFamily !important;
        color: #1E212C;
        font-weight: 700;
        line-height: 160%; /* 25.6px */
        align-items: center;
        gap: 0.5rem;
        transition: color 0.3s ease 0s;
        &::before{
            font-family: 'icomoon' !important;
            color: #7772F1;
            font-size: 1.5rem;
            transition: color 0.3s ease 0s;
        }
        @media (any-hover: hover){
            &:hover {
                &::before{
                    color: #504AED;
                    
                }
            }
        }
        @media (any-hover: hover){
            &:hover{
                color: #787A80;
            }
        }
    }
}
















































